# Local .terraform directories
**/.terraform/*

# Crash log files
crash.log

# Ignore tfvars files, which are likely to contain sensitive data
.tfvars


# Ignore CLI configuration files
.terraformrc
terraform